html {
  box-sizing: border-box;
  height: 100%;
}

:before,
after {
  box-sizing: inherit;
}

body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  font-size: calc(17px + 0.3vw);
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}
